.digituki-card-group{
    width: auto;
}

.digituki-card{
    &__content{
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        padding: spacing('s');
        &:hover,
        &:focus-within{
            outline: 2px solid black;
        }
    }

    &__content{
        padding: 0;
        padding-bottom: spacing('s');
    }
    &__summary{
        padding-left: spacing('s');
        padding-right: spacing('s');
        a{
            padding:spacing("xs");
        }
    }

    &__header{
        padding-left: spacing('s');
        padding-right: spacing('s');
        padding-top: spacing('m');
        padding-bottom: spacing('m');
        background-color: #f5f5f7;
        h2{
            color: #BD2719;
            margin-top: 0;
            margin-bottom: 0;
            font-size: fontsize-heading('m');
        }
    }
}


.digituki-card-group{
    &.is-style-light{
        .digituki-card{
            position: relative;
            &__content{
                border: none;
                &:hover,
                &:focus,
                &:active,
                &:focus-within{
                    outline: 2px solid $black;
                }
            }
            
            &__header{
                order: 2;
                padding-bottom: spacing('xs');
                background: none;
                h2{
                    color: $black;
                } 
            }
            &__image{
                order: 1;
            }
            &__summary{
                order: 2;
                p{
                    margin-bottom: 0px;
                }
                .content__link{
                        background: none;
                        border: none;
                        outline: none;
                        color: $black;
                        position: static;
                        padding-left: 0;
                        flex: 0 0 auto;
                        justify-content: start;

                        &:active, &:focus, &:hover{
                            &:after{
                                border: none;
                            }
                        }
                        &--internal{
                            &:before{
                                content: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M10.5 5.5 12 7 8 11 20.5 11 20.5 13 8 13 12 17 10.5 18.5 4 12' fill='currentColor'/%3E%3C/g%3E%3C/svg%3E");
                                width: 32px;
                                height: 32px;
                                margin-right: spacing('s');
                                transform: scaleX(-1);
                                margin-top: -4px;
                            }
                        }

                        &--external{
                            &:before{
                                content: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M10 3v2H5v14h14v-5h2v7H3V3h7zm11 0v8h-2V6.413l-7 7.001L10.586 12l6.999-7H13V3h8z' fill='currentColor'/%3E%3C/g%3E%3C/svg%3E");    
                                width: 32px;
                                height: 32px;
                                margin-right: spacing('s');
                                margin-top: -4px;
                            }
                        }

                        &:after{
                            width: 100%;
                            height: 100%;
                            left: 0;
                            top: 0;
                            position: absolute;
                            border: none;
                        }
                        svg{
                            display: none;
                        }
                }
            }
        }
    }
}