.digituki-card-group{
    width: auto;
}

.digituki-card{
    &__content{
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        transition: 0.3s box-shadow;
        padding: spacing('s');
        &:hover,
        &:focus-within{
            box-shadow:
            0px 0px 2.2px rgba(0, 0, 0, 0.014),
            0.1px 0px 5.3px rgba(0, 0, 0, 0.02),
            0.1px 0px 10px rgba(0, 0, 0, 0.025),
            0.2px 0px 17.9px rgba(0, 0, 0, 0.03),
            0.4px 0px 33.4px rgba(0, 0, 0, 0.036),
            1px 0px 80px rgba(0, 0, 0, 0.05)
          ;
          border: 1px solid black;
        }
    }

    &__content{
        padding: 0;
        padding-bottom: spacing('s');
    }
    &__summary{
        padding-left: spacing('s');
        padding-right: spacing('s');
        a{
            padding:spacing("xs");
        }
    }

    &__header{
        padding-left: spacing('s');
        padding-right: spacing('s');
        padding-top: spacing('m');
        padding-bottom: spacing('m');
        background-color: white;
        h2{
            color: var(--color-coat-of-arms);
            margin-top: 0;
            margin-bottom: 0;
            font-size: fontsize-heading('m');
        }
    }
}