.digituki-card-group{
    width: auto;
}

.digituki-card{
    &__content{
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        padding: spacing('s');
    }

    &__content{
        padding: 0;
        padding-bottom: spacing('s');
    }
    &__summary{
        padding-inline: spacing('s');
    }

    &__header{
        padding-inline: spacing('s');
        padding-block: spacing('m');
        background-color: var(--wp--preset--color--light);
        h2{
            color: #BD2719;
            margin-top: 0;
            margin-bottom: 0;
            font-size: fontsize-heading('m');
        }
    }
}