.lift, .lift.alignfull{
    padding: var(--spacing-4-xl) var(--spacing-layout-s);
    >div>h1, >div>h2, >div>h3, >div>h4, >div>h5, >div>h6{
        margin-top: 0;
    }
}

.content__body{
    .alignfull.lift:last-child,.alignfull.wp-block-cover:last-child{
        margin-bottom: -20px;
        @include breakpoint('l'){
            margin-bottom: -80px;
        }
    }
}