.wp-linked-events-block{
    list-style: none;
    margin: spacing('xl') 0 0 0;

    &__event{
        position: relative;
        word-break: break-word;
        margin-top: var(--spacing-2-xs);
        &:focus-visible{
            outline: 2px solid var(--color-black);
        }
    }
    &__title{
        margin-bottom: spacing('s');
        a{
            &:after{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                z-index: 2;
            }

            &:focus, &:hover{
                outline: 0px;
                text-decoration:  underline;
                &:after{
                    outline: 2px solid var(--color-black);
                }
            }
        }

    }
    &__details{
            margin-bottom: spacing('xs');
            justify-content: start;
            i {
                margin-right: spacing(xs);
            }
    }
    &__details-content{
        padding-top: 5px;
        word-wrap: break-word;
    }
    
}