.page {

	&:not(.page-template-landing-page) {
		.content {
			&__container {
				padding-top: spacing('layout-l');
				padding-bottom: spacing('layout-l');
			}
		}
	}

}

.content__body{
    .alignfull.lift:last-child,.alignfull.wp-block-cover:last-child{
        margin-bottom: -3rem;
    }
}

.wp-block-hds-wp-banner{
    &.is-style-light{
        background: none;
        color: $black;
        .content{
            display: block;
            &__inner--text{
                max-width: none;
            }
        }
    }
}