.front-page-section {

	&.hero {

		.hds-container {
			min-height: 0;

			@include breakpoint('m') {
				padding-top: spacing('layout-m');
				padding-bottom: spacing('layout-s');
			}

			@include breakpoint('l') {
				min-height: 0;
				padding-top: 4.5rem;
			}

			@include breakpoint('xl') {
				min-height: 0;
				padding-top: spacing('layout-xl');
			}
		}
	}

    &:not(.hero):last-child{
        padding-bottom: 0;
    }

    .wp-block-hds-wp-image-banner{
        &:first-child{
            margin-top: -2rem;
            @include breakpoint('l'){
                margin-top: -3rem;
            }
        }

        .content__inner{
            background: rgba(255,255,255,0.95);
        }
    }
}